.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f14646;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-item:hover {
    opacity: 0.8;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .nav-text {
    font-size: 2rem;
    font-weight: 500;
  }
  